@page "/game-saves"

<div class="mt-3">
    <Grid @ref="grid"
        TItem="GameSave"
        Class="table table-hover table-bordered table-striped"
        DataProvider="EmployeesDataProvider"
        AllowFiltering="true"
        Responsive="true"
        AllowPaging="true"
        AllowSorting="true">

        <GridColumn TItem="GameSave" HeaderText="Game Save Name" PropertyName="Name">
            @context.Name
        </GridColumn>
        <GridColumn TItem="GameSave" HeaderText="Game Name" PropertyName="Game Name">
            @context.Game.Name
        </GridColumn>
        <GridColumn TItem="GameSave" HeaderText="Actions" Filterable="false">
            <Tooltip Title="Edit">
                <Icon CustomIconName="@Icons.PenSolid"
                    Size="IconSize.x5"
                    Color="IconColor.Warning"
                    Class="p-1"
                    @onclick="() => ShowEditGameSaveModalAsync(context)" />
            </Tooltip>
            <Tooltip Title="Share">
                <Icon CustomIconName="@Icons.ShareSolid"
                    Size="IconSize.x5"
                    Color="IconColor.Primary"
                    Class="p-1"
                    @onclick="() => ShowShareGameSaveModalAsync(context)" />
            </Tooltip>
            <Tooltip Title="Advanced Settings">
                <Icon CustomIconName="@Icons.SettingsSolid"
                    Size="IconSize.x5"
                    Color="IconColor.Secondary"
                    Class="p-1"
                    @onclick="() => ShowAdvancedGameSaveSettingsModalAsync(context)" />
            </Tooltip>
            <Tooltip Title="Delete">
                <Icon CustomIconName="@Icons.TrashSolid"
                    Size="IconSize.x5"
                    Color="IconColor.Danger"
                    Class="p-1"
                    @onclick="() => DeleteGameSaveAsync(context)" />
            </Tooltip>
        </GridColumn>

    </Grid>
</div>

<Modal @ref="_createNewGameSaveModal" Size="ModalSize.ExtraLarge" IsVerticallyCentered="true" />