@page "/game-saves"

<div class="d-flex m-3 justify-content-end">
    <Button Color="ButtonColor.Primary" Size="Size.Large" Class="p-2 ms-5" @onclick="ShowCreateGameSaveModalAsync">
        <Icon Name="IconName.PlusLg" /> Create new Game Save
    </Button>
</div>

<div class="mt-3">
    <Grid @ref="_grid"
        TItem="GameSaveViewModel"
        Class="table table-hover table-bordered table-striped"
        DataProvider="EmployeesDataProvider"
        AllowFiltering="true"
        Responsive="true"
        AllowPaging="true"
        AllowSorting="true">

        <GridColumn TItem="GameSaveViewModel" HeaderText="Game Save Name" PropertyName="Name" SortKeySelector="item => item.Name">
            @context.Name
        </GridColumn>
        <GridColumn TItem="GameSaveViewModel" HeaderText="Game Name" PropertyName="GameName" SortKeySelector="item => item.GameName">
            @context.GameName
        </GridColumn>
        <GridColumn TItem="GameSaveViewModel" HeaderText="Actions" Filterable="false" FilterTextboxWidth="40">
            <Tooltip Title="Edit">
                <Icon CustomIconName="@Icons.PenSolid"
                    Size="IconSize.x5"
                    Color="IconColor.Warning"
                    Class="p-1"
                    @onclick="() => ShowEditGameSaveModalAsync(context.GameSave)" />
            </Tooltip>
            <Tooltip Title="Share">
                <Icon CustomIconName="@Icons.ShareSolid"
                    Size="IconSize.x5"
                    Color="IconColor.Primary"
                    Class="p-1"
                    @onclick="() => ShowShareGameSaveModalAsync(context.GameSave)" />
            </Tooltip>
            <Tooltip Title="Advanced Settings">
                <Icon CustomIconName="@Icons.SettingsSolid"
                    Size="IconSize.x5"
                    Color="IconColor.Secondary"
                    Class="p-1"
                    @onclick="() => ShowAdvancedGameSaveSettingsModalAsync(context.GameSave)" />
            </Tooltip>
            <Tooltip Title="Delete">
                <Icon CustomIconName="@Icons.TrashSolid"
                    Size="IconSize.x5"
                    Color="IconColor.Danger"
                    Class="p-1"
                    @onclick="() => DeleteGameSaveAsync(context.GameSave)" />
            </Tooltip>
        </GridColumn>

    </Grid>
</div>

<Modal @ref="_createGameModal" Size="ModalSize.ExtraLarge" IsVerticallyCentered="true" />
<Modal @ref="_localItemPickerModal" Size="ModalSize.ExtraLarge" OnHidden="ShowModalAsync" IsVerticallyCentered="true" />
<Modal @ref="_remoteItemPickerModal" Size="ModalSize.ExtraLarge" OnHidden="ShowModalAsync" IsVerticallyCentered="true" />
<Modal @ref="_authorizeStorageModal" Size="ModalSize.Large" OnHidden="ShowModalAsync" IsVerticallyCentered="true" />
<Modal @ref="_createNewGameSaveModal" Size="ModalSize.ExtraLarge" IsVerticallyCentered="true" />
<ConfirmDialog @ref="_confirmDialog" />
