@inherits CancellableComponent

<div class="d-flex flex-column align-content-center text-center mt-2 custom-modal">
    <h1>@(_gameSave?.Game?.Name ?? DefaultGameName)</h1>
    <div class="fs-4 m-2 p-2">State: <b class="@GetStateColorClass(_screenState)">@_screenState.GetName()</b></div>
    <div class="m-4 p-4 d-flex flex-column justify-content-between flex-grow-1">
        @switch(_screenState)
        {
            case StartGameScreenState.Loading:
            case StartGameScreenState.DownloadingSave:
            case StartGameScreenState.StartingGame:
                <div class="text-center mt-4">
                    <Spinner Type="SpinnerType.Border" Size="SpinnerSize.ExtraLarge" Style="width: 6rem; height: 6rem;" />
                </div>
                break;
            case StartGameScreenState.SaveInUse:
                <div class="fs-5">
                    Game save is already in use by <b>@_lockFile?.LockDetails?.LockedByUsername</b> who locked it at
                    <b>@_lockFile?.LockDetails?.LockedAt.ToLocalTime().ToString("g")</b>.
                    <br/>
                    You have the option to either wait for the user to finish or you can try to join them.
                </div>

                @if(_gameSave?.Game?.GameExecutablePath is not null)
                {
                    <div class="text-center mt-5">
                        <Button Color="ButtonColor.Primary"
                            Size="Size.Large"
                            Class="w-50 p-3 mt-2"
                            @onclick="() => StartGameAndContinueWithAsync(StartGameScreenState.PlayingGame)">
                            Start game
                        </Button>
                    </div>
                }
                else
                {
                    <div class="text-center mt-5">
                        <Button Color="ButtonColor.Primary"
                            Size="Size.Large"
                            Class="w-50 p-3 mt-2"
                            @onclick="CloseAsync">
                            Close
                        </Button>
                    </div>
                }
                break;
            case StartGameScreenState.LockFailed:
                <div class="fs-5">
                    An error occurred while trying to lock the repository.
                    <br/>
                    <b>@_errorMessage</b>
                </div>
                <div class="d-flex justify-content-between mt-5">
                    <Button Color="ButtonColor.Primary"
                        Outline="true"
                        Size="Size.Large"
                        Class="w-25 p-3 mt-2"
                        @onclick="CloseAsync">
                        Close
                    </Button>
                    <Button Color="ButtonColor.Primary"
                        Size="Size.Large"
                        Class="w-25 p-3 mt-2"
                        @onclick="StartGameSaveAsync"
                        Loading="@_lockingRepository"
                        Disabled="@_lockingRepository">
                        Retry
                    </Button>
                </div>
                break;
            case StartGameScreenState.PlayingGame:
                <div class="fs-5">
                    Game is now running.
                    <br/>
                    You can now close this window and start playing.
                </div>

                @if(_errorMessage is not null)
                {
                    <Alert Color="AlertColor.Primary"> @_errorMessage </Alert>
                }

                <div class="text-center mt-5">
                    <Button Color="ButtonColor.Primary"
                        Size="Size.Large"
                        Class="w-50 p-3 mt-2"
                        @onclick="CloseAsync">
                        Close
                    </Button>
                </div>
                break;
            case StartGameScreenState.HostingGame:
                <div class="fs-5">
                    You are hosting the game.
                    <br/>
                    After finishing the game, synchronize your game save with the cloud storage by clicking the "Upload & Close" button.
                    This will unlock the possibility to download the save by other members with the access.
                </div>

                @if(_errorMessage is not null)
                {
                    <Alert Color="AlertColor.Primary"> @_errorMessage </Alert>
                }

                @if(_finishingGame)
                {
                    <div class="text-center mt-3">
                        <Spinner Type="SpinnerType.Border" Size="SpinnerSize.ExtraLarge" Style="width: 6rem; height: 6rem;" />
                    </div>
                }

                <div class="d-flex justify-content-between mt-5">
                    <Button Color="ButtonColor.Danger"
                        Outline="true"
                        Size="Size.Large"
                        Class="w-25 p-3 mt-2"
                        @onclick="DiscardProgressAndCloseAsync"
                        Disabled="_finishingGame">
                        Discard
                    </Button>
                    <Button Color="ButtonColor.Primary"
                        Size="Size.Large"
                        Class="w-25 p-3 mt-2"
                        @onclick="UploadSaveAndCloseAsync"
                        Disabled="_finishingGame">
                        Upload & Close
                    </Button>
                </div>
                break;
            case StartGameScreenState.UploadFailed:
                <div class="fs-5">
                    An error occurred while trying to upload the game save. The game save downloading is still locked for the other users. Try it again.
                    <br/>
                    <b>@_errorMessage</b>
                </div>

                <div class="d-flex justify-content-between mt-5">
                    <Button Color="ButtonColor.Primary"
                        Outline="true"
                        Size="Size.Large"
                        Class="w-25 p-3 mt-2"
                        @onclick="CloseAsync">
                        Close
                    </Button>
                    <Button Color="ButtonColor.Primary"
                        Size="Size.Large"
                        Class="w-25 p-3 mt-2"
                        @onclick="UploadSaveAndCloseAsync"
                        Disabled="_finishingGame"
                        Loading="@_finishingGame">
                        Retry
                    </Button>
                </div>
                break;
            case StartGameScreenState.DownloadFailed:
                <div class="fs-5">
                    An error occurred while trying to download the game save. Try it again.
                    <br/>
                    <b>@_errorMessage</b>
                </div>

                <div class="d-flex justify-content-between mt-5">
                    <Button Color="ButtonColor.Primary"
                        Outline="true"
                        Size="Size.Large"
                        Class="w-25 p-3 mt-2"
                        @onclick="CloseAsync">
                        Close
                    </Button>
                    <Button Color="ButtonColor.Primary"
                        Size="Size.Large"
                        Class="w-25 p-3 mt-2"
                        @onclick="PrepareSaveAsync"
                        Disabled="@_preparingSave">
                        Retry
                    </Button>
                </div>
                break;
            case StartGameScreenState.LocalGameSaveConflict:
                <div class="fs-5">
                    Repository was manually unlocked by some of the users. Current Local Game Save will be overriden by the latest cloud game save.
                    <br />
                    If you want to keep your Game Save stored you need to back it up manually. And you can upload it later.
                    <br />
                    Do youn want to continue?
                </div>

                <div class="d-flex justify-content-between mt-5">
                    <Button Color="ButtonColor.Primary"
                            Outline="true"
                            Size="Size.Large"
                            Class="w-25 p-3 mt-2"
                            @onclick="CloseAsync">
                        Close
                    </Button>
                    <Button Color="ButtonColor.Primary"
                            Size="Size.Large"
                            Class="w-25 p-3 mt-2"
                            @onclick="FixGameSaveConflictAsync"
                            Loading="@_fixingGameSaveConflict"
                            LoadingText="Saving..."
                            Disabled="@_fixingGameSaveConflict">
                        Continue
                    </Button>
                </div>
                break;
        }
    </div>
    <ConfirmDialog @ref="_confirmDialog" />
</div>
