<div>
    <div class="d-flex">
        <div class="p-2 w-50">
            <div class="d-flex align-content-center">
                <div>
                    <Icon Name="IconName.Image" Size="IconSize.x5" />
                </div>
                <div class="fs-5 ms-2">
                    Game Image
                    @if(HelpText is not null)
                    {
                        <Help Text="@HelpText" />
                    }
                </div>
            </div>
            
            <div class="ms-4">
                <label for="file-input" class="btn btn-outline-primary me-3">Select image</label>
                <InputFile id="file-input" OnChange="LoadFile" accept="image/png,image/jpg,image/jpeg" class="d-none" tabindex="@TabIndex" />
                
                @if(ImageSource is not null)
                {
                    <div class="d-flex align-items-center p-2">
                        <div class="text-muted me-2" style="word-break: break-all;">@ImageSource.Name</div>
                        <div @onclick="RemoveImage"><Icon Name="IconName.Trash3Fill" Color="IconColor.Danger" Size="IconSize.x5" /></div>
                    </div>
                }

            </div>
        </div>
        <div>
            @if (ImageSource is not null && _error is null)
            {
                <img class="upload-image" alt="Image" src="@ImageSource.ImageBase64" style="max-width: 8rem; max-height: 8rem;" />
            }
            else
            {
                <img class="upload-image" alt="Image" src="img/icons/image-placeholder-icon.svg" style="max-width: 8rem; max-height: 8rem;" />
            }
        </div>
    </div>
    @if (!string.IsNullOrEmpty(_error))
    {
        <Alert Color="AlertColor.Danger">@_error</Alert>
    }
</div>
