@page "/profiles/{Id:long}"
@inject IGameProfileService _gameProfileService
@inject ITokenService _tokenService
@inject IExternalStorageService _externalStorageService
@inject CurrentContext _currentContext
@inject NavigationManager _navManager

<h3>Profile</h3>
<button>
    <span class="oi oi-reload" aria-hidden="true"></span> Refresh
    </button>
<button @onclick="DeleteProfile">
    <span class="oi oi-trash" aria-hidden="true"></span> Delete
</button>

<div>
    <div>
        <span>Authorized:</span>
        <div>@_isAuthorized</div>
    </div>
    <div>
        <span>RepositoryId:</span>
        <div>@_gameProfile.RepostioryId</div>
    </div>
</div>

@if(_isAuthorized && _gameProfile.RepostioryId is null)
{
    <EditForm Model="@_initializeRepository" OnValidSubmit="@HandleValidRepositorySubmit">
        
        <div>
            <h3>Create new repository</h3>

            <div>
                <label>
                    New Repository name:
                    <input type="text" @bind="@_initializeRepository.NewRepositoryName" disabled="@(!string.IsNullOrEmpty(_initializeRepository.ExistingRepositoryName))" />
                </label>
            </div>
        </div>

        <div>
            <h3>... or insert existing repository name.</h3>

            <div>
                <label>
                    Existing Repository name:
                    <input type="text" @bind="@_initializeRepository.ExistingRepositoryName" disabled="@(!string.IsNullOrEmpty(_initializeRepository.NewRepositoryName))" />
                </label>
            </div>
        </div>

        <button type="submit">Submit</button>
        
    </EditForm>


}


<div>
    <span>Nickname</span>
    <div>@_gameProfile.Nickname</div>
</div>

<div>
    <span>Profile name</span>
    <div>@_gameProfile.ProfileName</div>
</div>

<div>
    <NavLink class="nav-link" href="@($"profiles/{Id}/download")" Match="NavLinkMatch.All" >
        <span class="oi oi-cloud-download" aria-hidden="true"></span> Download
    </NavLink>
</div>
<div>
    <NavLink class="nav-link" href="@($"profiles/{Id}/upload")" Match="NavLinkMatch.All">
        <span class="oi oi-cloud-upload" aria-hidden="true"></span> Upload
    </NavLink>
</div>
<div>
    <NavLink class="nav-link" href="@($"profiles/{Id}/options")" Match="NavLinkMatch.All">
        <span class="oi oi-cog" aria-hidden="true"></span> Options
    </NavLink>
</div>


@code {

    [Parameter]
    public long Id { get; set; }

    private InitializeRepositoryModel _initializeRepository = new();

    private GameProfile _gameProfile = new();
    private bool _isAuthorized = false;


    protected override async Task OnParametersSetAsync()
    {
        _gameProfile = await _gameProfileService.GetGameProfileAsync(Id);
        _isAuthorized = await _tokenService.TokenExists(Id);
    }

    private async Task DeleteProfile()
    {
        await _gameProfileService.DeleteGameProfileAsync(Id);
        await _currentContext.RefreshProfilesAsync();
        _navManager.NavigateTo("/");
    }

    private async Task HandleValidRepositorySubmit()
    {
        var id = _initializeRepository.NewRepositoryName is not null
        ? await _externalStorageService.InitializeNewRepositoryAsync(Id, _initializeRepository.NewRepositoryName)
        : await _externalStorageService.GetExistingRepositoryAsync(Id, _initializeRepository.ExistingRepositoryName);

        _gameProfile.RepostioryId = id;

        await _gameProfileService.UpdateGameProfileAsync(_gameProfile);
    }
}
