@page "/profiles/{Id:long}"
@inject IGameProfileService _gameProfileService
@inject ITokenService _tokenService
@inject CurrentContext _currentContext
@inject NavigationManager _navManager

<h3>Profile</h3>
<button>
    <span class="oi oi-reload" aria-hidden="true"></span> Refresh
    </button>
<button @onclick="DeleteProfile">
    <span class="oi oi-trash" aria-hidden="true"></span> Delete
</button>

<div>
    <div>
        <span>Authorized:</span>
        <div>@_isAuthorized</div>
    </div>
</div>

<div>
    <span>Nickname</span>
    <div>@_gameProfile.Nickname</div>
</div>

<div>
    <span>Profile name</span>
    <div>@_gameProfile.ProfileName</div>
</div>

<div>
    <NavLink class="nav-link" href="@($"profiles/{Id}/download")" Match="NavLinkMatch.All" >
        <span class="oi oi-cloud-download" aria-hidden="true"></span> Download
    </NavLink>
</div>
<div>
    <NavLink class="nav-link" href="@($"profiles/{Id}/upload")" Match="NavLinkMatch.All">
        <span class="oi oi-cloud-upload" aria-hidden="true"></span> Upload
    </NavLink>
</div>
<div>
    <NavLink class="nav-link" href="@($"profiles/{Id}/options")" Match="NavLinkMatch.All">
        <span class="oi oi-cog" aria-hidden="true"></span> Options
    </NavLink>
</div>


@code {

    [Parameter]
    public long Id { get; set; }

    private GameProfile _gameProfile = new();
    private bool _isAuthorized = false;


    protected override async Task OnParametersSetAsync()
    {
        _gameProfile = await _gameProfileService.GetGameProfileAsync(Id);
        _isAuthorized = await _tokenService.TokenExists(Id);
    }

    private async Task DeleteProfile()
    {
        await _gameProfileService.DeleteGameProfileAsync(Id);
        await _currentContext.RefreshProfilesAsync();
        _navManager.NavigateTo("/");
    }
}
