<EditForm Model="EditGame">
    <div>
        <div class="d-flex justify-content-around p-2">
            <div class="column">
                <div class="m-1 p-1">
                    <label class="fs-5">
                        Game Name
                    </label>
                    <InputText @bind-Value="EditGame.Name" placeholder="Game Name" class="w-75" />
                </div>
                <div class="m-1 mt-2 p-1">
                    <label class="fs-5">
                        Username
                    </label>
                    <InputText @bind-Value="EditGame.Username" placeholder="Username" class="w-75" />
                </div>
            </div>
            <div class="column">
                <div class="m-1 p-1">
                    <ImagePicker
                        ImageSrc="@EditGame.Image"
                        OnImageUploaded="ImageUploaded" />
                </div>
                <div>
                    <LocalItemPicker
                        Title="Local Game Executable"
                        Icon="IconName.FileTypeExe"
                        SelectedPath="@EditGame.LocalExecutablePath"
                        OnPickerClicked="ShowLocalExecutablePickerModal"
                        OnPathCleared="ClearLocalExecutablePath"/>
                </div>
            </div>
        </div>

        <h3 class="p-2">Game Save Information</h3>

        <div class="d-flex justify-content-around p-2">
            <div class="column">
                <div class="m-1 p-1">
                    <label class="fs-5">
                        Game Save Name
                    </label>
                    <InputText @bind-Value="EditGame.GameSaveName" placeholder="Game Save Name"  class="w-75" />
                </div>
                <div class="m-1 mt-2 p-1">
                    <label class="fs-5">
                        Storage Account
                    </label>
                    <InputSelect @bind-Value="_selectedStorageAccount" class="p-1 w-75">
                        @foreach (var account in _storageAccounts)
                        {
                            <option value="@account">@account.Email (@account.Type.ToString())</option>
                        }
                    </InputSelect>
                    <div>
                        or <b @onclick="ShowAuthorizeStorageModal">create a new one</b>.
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="m-1 p-1">
                    <LocalItemPicker
                        Title="Local Game Save Location"
                        Icon="IconName.PcDisplayHorizontal"
                        SelectedPath="@EditGame.LocalGameSavePath"
                        OnPickerClicked="ShowLocalFolderPickerModal"
                        OnPathCleared="ClearLocalGameSavePath"/>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <Button Color="ButtonColor.Primary" Size="Size.Large" >Save changes</Button>
        </div>
    </div>
</EditForm>
