<div class="m-3">
    <div class="d-flex align-items-center mb-3">
        <div class="me-4">
            <Button Color="ButtonColor.Secondary" Outline="true" @onclick="ChangeToParentDirectory">
                <Icon Name="IconName.ArrowLeft" />
            </Button>
        </div>
        <div class="fs-5">@_currentPath</div>
    </div>

    @if (_error is not null)
    {
        <div>
            <Alert Color="AlertColor.Warning">@_error</Alert>
        </div>
    }
    
    <div class="d-flex flex-wrap">
        @foreach (var directory in _directories)
        {
            <div class="d-flex flex-column align-items-center m-2 @(directory.IsSelected ? "selected-directory" : "") folder-item"
                @ondblclick="() => MoveToDirectory(directory)"
                @onclick="() => SelectDirectory(directory)">
                <img src="img/icons/folder-icon.svg" alt="Folder" class="directory-img" />
                <Tooltip Title="@directory.Name" Placement="TooltipPlacement.Bottom">
                    <p class="directory-name">@directory.Name</p>
                </Tooltip>
            </div>
        }
    </div>

    <div class="d-flex mt-3 justify-content-end">
        <Button Color="ButtonColor.Primary" @onclick="PickDirectoryAsync" Class="fs-5 p-2 pe-3 ps-3">Select folder</Button>
    </div>
</div>
