<div class="card m-2 prevent-select" style="width: 18rem; height:18rem;">
    
    @if (ShowDetail)
    {
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between align-items-start">
                <div class="d-flex">
                    <h5 class="card-title">@Game.Name</h5>
                    @if (IsGameHosting())
                    {
                        <div class="hosting-container">
                            <Tooltip Title="Hosting the game">
                                <Icon CustomIconName="@CustomIcons.Hosting" Color="IconColor.Primary" Size="IconSize.x5" Class="p-1" />
                            </Tooltip>
                        </div>
                    }
                </div>
                <div class="d-flex justify-content-end">
                    <Button Color="ButtonColor.Danger"
                        Outline="true"
                        Size="Size.Small"
                        @onclick="DeleteGameAsync"
                        TooltipTitle="Delete">
                            <Icon CustomIconName="@CustomIcons.Delete" />
                    </Button>
                    <Button Color="ButtonColor.Dark"
                        Outline="true"
                        Size="Size.Small"
                        @onclick="MinimizeCardAsync"
                        TooltipTitle="Minimize"
                        Class="ms-1">
                        <Icon CustomIconName="@CustomIcons.Minimize" />
                    </Button>
                </div>
            </div>
            <div>
                <div class="fs-6">
                    Game Save:
                </div>
                @if(Game.GameSaves is not null && Game.GameSaves.Any())
                {
                    <div class="d-flex align-items-center">
                        <div class="ms-1 flex-grow-1">
                            <InputSelect @bind-Value="selectedSave" class="p-2 form-control form-select">
                                @foreach (var save in Game.GameSaves)
                                {
                                    <option value="@save" class="p-1">
                                        @save.Name @(save.IsHosting ? " (Hosting)" : "")
                                    </option>
                                }
                            </InputSelect>
                        </div>
                        <div class="d-flex justify-content-end ms-1">
                            <Button Color="ButtonColor.Warning"
                                Size="Size.Small"
                                Outline="true"
                                TooltipTitle="Edit Game Save"
                                @onclick="EditGameSaveRedirect">
                                <Icon CustomIconName="@CustomIcons.Edit" />
                            </Button>
                        </div>
                    </div>
                }
                else
                {
                    <Button Color="ButtonColor.Primary"
                        Size="Size.Medium"
                        @onclick="CreateGameSaveRedirect">
                        <Icon Name="IconName.Plus" Class="me-1"/>
                        Create Game Save
                    </Button>                    
                }

            </div>
        </div>

        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <Button Color="ButtonColor.Primary"
                        Size="Size.Large"
                        Outline="true"
                        @onclick="ShowEditGameModalAsync">
                    <Icon CustomIconName="@CustomIcons.Edit" Class="me-1"/>
                    Edit
                </Button>
                <Button Color="ButtonColor.Primary"
                        Size="Size.Large"
                        Disabled="@(selectedSave is null)"
                        @onclick="StartGameAsync">
                    <Icon CustomIconName="@CustomIcons.Play" Class="me-1" />
                    Start
                </Button>
            </div>
        </div>
    }
    else
    {
        <div @onclick="StartDetailShowing">
            @if (IsGameHosting())
            {
                <div class="hosting-location hosting-container d-flex justify-content-center align-items-center">
                    <Tooltip Title="Hosting the game">
                        <Icon CustomIconName="@CustomIcons.Hosting" Color="IconColor.Primary" Size="IconSize.x5" Class="p-1" />
                    </Tooltip>
                </div>
            }
            <img src="@(Game.Image is not null ? Game.Image.Content : "img/icons/image-placeholder-icon.svg")"
                class="card-img-top image"
                alt="@Game.Name Image">
            <div class="card-body divider">
                <h5 class="card-title">@Game.Name</h5>
            </div>
        </div>

    }
    <ConfirmDialog @ref="_confirmDialog" />
</div>
