<div class="card m-1 prevent-select" style="width: 18rem; height:18rem;" @onclick="ToggleDetailShowing">
    
    @if (ShowDetail)
    {
        <div class="card-body">
            <h5 class="card-title">@Game.Name</h5>
            <div>
                Profile:
                <InputSelect @bind-Value="SelectedSave">
                    @foreach(var save in Game.GameSaves)
                    {
                        <option value="@save">@save.Name</option>
                    }
                </InputSelect>
            </div>
        </div>
    }
    else
    {
        <img src="img/icons/image-placeholder-icon.svg" class="card-img-top" alt="@Game.Name">
        <div class="card-body">
            <h5 class="card-title">@Game.Name</h5>
        </div>
    }
    
</div>
