<div class="card m-2 prevent-select" style="width: 18rem; height:18rem;" @onclick="ToggleDetailShowing">
    
    @if (ShowDetail)
    {
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex">
                    <h5 class="card-title">@Game.Name</h5>
                    @if (IsGameHosting())
                    {
                        <div class="hosting-container">
                            <Tooltip Title="Hosting the game">
                                <Icon CustomIconName="@CustomIcons.CrownSolid" Color="IconColor.Primary" Size="IconSize.x5" Class="p-1" />
                            </Tooltip>
                        </div>
                    }
                </div>
                <div>
                    <Button Color="ButtonColor.Danger"
                        Outline="true" Size="Size.Small"
                        @onclick="DeleteGameAsync"
                        TooltipTitle="Delete">
                            <Icon CustomIconName="@CustomIcons.TrashSolid" />
                    </Button>
                </div>
            </div>
            <div>
                <label class="fs-6">Profile</label>
                <InputSelect @bind-Value="selectedSave" class="p-2 w-100 form-control form-select">
                    @foreach(var save in Game.GameSaves!)
                    {
                        <option value="@save" class="p-1">
                            @save.Name @(save.IsHosting ? " (Hosting)" : "")
                        </option>
                    }
                </InputSelect>
            </div>
        </div>

        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <Button Color="ButtonColor.Primary"
                        Size="Size.Large"
                        Outline="true"
                        @onclick="ShowEditGameModalAsync">
                    <Icon CustomIconName="@CustomIcons.PenSolid" Class="me-1"/>
                    Edit
                </Button>
                <Button Color="ButtonColor.Primary"
                        Size="Size.Large"
                        Disabled="@(selectedSave is null)"
                        @onclick="StartGameAsync">
                    <Icon CustomIconName="@CustomIcons.PlaySolid" Class="me-1" />
                    Start
                </Button>
            </div>
        </div>
    }
    else
    {
        @if (IsGameHosting())
        {
            <div class="hosting-location hosting-container d-flex justify-content-center align-items-center">
                <Tooltip Title="Hosting the game">
                    <Icon CustomIconName="@CustomIcons.CrownSolid" Color="IconColor.Primary" Size="IconSize.x5" Class="p-1" />
                </Tooltip>
            </div>
        }
        <img src="@(Game.Image is not null ? Game.Image.Content : "img/icons/image-placeholder-icon.svg")"
            class="card-img-top image"
            alt="@Game.Name Image">
        <div class="card-body divider">
            <h5 class="card-title">@Game.Name</h5>
        </div>
    }
    <ConfirmDialog @ref="_confirmDialog" />
</div>
