<div class="card m-1 prevent-select" style="width: 18rem">
    
    @if (ShowDetail)
    {
        <div class="card-body">
            <h5 class="card-title">@Game.Name</h5>
            <div>
                Profile:
                <InputSelect @bind-Value="SelectedSave">
                    @foreach(var save in Game.GameSaves)
                    {
                        <option value="@save">@save.Name</option>
                    }
                </InputSelect>
            </div>
        </div>
    }
    else
    {
        <img src="image-placeholder.svg" class="card-img-top" alt="@Game.Name">
        <div class="card-body">
            <h5 class="card-title">@Game.Name</h5>
        </div>
    }

    
</div>

@code
{
    [Parameter]
    public required Game Game { get; set; }

    [Parameter]
    public bool ShowDetail { get; set; }

    private GameSave? SelectedSave { get; set; }


    private void CardClicked()
    {
        
    }
}