<div class="card m-2 prevent-select" style="width: 18rem; height:18rem;" @onclick="ToggleDetailShowing">
    
    @if (ShowDetail)
    {
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <h5 class="card-title">@Game.Name</h5>
                <div>
                    <Button Color="ButtonColor.Danger"
                        Outline="true" Size="Size.Small"
                        @onclick="DeleteGameAsync"
                        TooltipTitle="Delete">
                            <Icon CustomIconName="@Icons.TrashSolid" />
                    </Button>
                </div>
            </div>
            <div>
                <label class="fs-6">Profile</label>
                <InputSelect @bind-Value="SelectedSaveId" class="p-2 w-100 form-control form-select">
                    @foreach(var save in Game.GameSaves!)
                    {
                        <option value="@save.Id" class="p-1">@save.Name</option>
                    }
                </InputSelect>
            </div>
        </div>

        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <Button Color="ButtonColor.Primary"
                        Size="Size.Large"
                        Outline="true"
                        @onclick="ShowEditGameModalAsync">
                    <Icon CustomIconName="@Icons.PenSolid" Class="me-1"/>
                    Edit
                </Button>
                <Button Color="ButtonColor.Primary"
                        Size="Size.Large"
                        @onclick="StartGameAsync">
                    <Icon CustomIconName="@Icons.PlaySolid" Class="me-1" />
                    Start
                </Button>
            </div>
        </div>
    }
    else
    {
        <img src="@(Game.Image is not null ? Game.Image.Content : "img/icons/image-placeholder-icon.svg")"
            class="card-img-top image"
            alt="@Game.Name Image">
        <div class="card-body divider">
            <h5 class="card-title">@Game.Name</h5>
        </div>
    }
    <ConfirmDialog @ref="_confirmDialog" />
</div>
